
/* [class^="col"] {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
}


[class^="container"] {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
} */

/* PALETTE COLORI */

.debug {
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid black;
}

.white-c {
  color: white;
}

.dark-blue {
  background-color: #2C3E50;
}

.water-green {
  background-color: #1ABC9C;
}

.violet {
  background-color: #BA4B63;
}

.light-blue {
  background-color: #1EA4B6;
}

.black {
  background-color: #140F0F;
}

.light-blue-2 {
  background-color: #1C83C1;
}

.blue {
  background-color: #0E38B5;
}

.sand {
  background-color: #CCB2A3;
}

.dark-blue-2 {
  background-color: #3A546D;
}


.container-v {
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.avatar {
  width: 200px;
}

.bar_v {
  background-color: white;
  width: 10%;
  height: 3px;
  border-radius: 5px;
}

.fs-18 {
  font-size: 18px;
}