
/* [class^="col"] {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
}


[class^="container"] {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
} */

/* PALETTE COLORI */

.debug {
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid black;
}

.white-c {
  color: white;
}

.gray-c {
  color: gray;
}

.water-green-c {
  color: #1ABC9C;
}

.dark-blue {
  background-color: #2C3E50;
}

.water-green {
  background-color: #1ABC9C;
}

.violet {
  background-color: #BA4B63;
}

.light-blue {
  background-color: #1EA4B6;
}

.black {
  background-color: #140F0F;
}

.light-blue-2 {
  background-color: #1C83C1;
}

.blue {
  background-color: #0E38B5;
}

.sand {
  background-color: #CCB2A3;
}

.dark-blue-2 {
  background-color: #3A546D;
}


.container-v {
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-50 {
  padding-bottom: 50px;
}

.avatar {
  width: 200px;
}

.white_brd {
  border: 1px solid white;
}

.bar_v {
  background-color: white;
  width: 10%;
  height: 3px;
  border-radius: 5px;
}

.bar_v_black {
  background-color: black;
  width: 10%;
  height: 3px;
  border-radius: 5px;
}

.fs-18 {
  font-size: 18px;
}

.br_10 {
  border-radius: 10px;
}

.fa-plus {
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  font-size: 100px;
  color: white;
}

.portfolio .container .over .fa-solid {
  display: none;
}

.portfolio .container .over:hover .fa-solid {
  display: inline-block;
 
}

.portfolio .container .over:hover {
  filter: sepia(90%);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.w_120 {
  width: 120px;
}

.btn_v {
  background-color: #1ABC9C;
  color: white;
  border: 1px solid white;
}

.btn_v:hover {
  background-color: white;
  color: #1ABC9C;
  border: 1px solid #1ABC9C;
}

.btn_v:active {
  background-color: gray;
}

.input_v {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.input_v::placeholder {
  color: black;
}

.circle_v {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  padding-top: 12px;
}

